@using Business.Entities.Production.MachineryEquippedDetailModel;
@model MachineryEquippedDetail;
@{
    //$ViewBag$
}
<form class="form-horizontal" role="form" id="formMachineryEquippedDetail">
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-3">
                <input type="hidden" asp-for="MachineryEquippedDetailID" />
                <div class="col-sm-9">
                    @*  <input type="text" required="" class="form-control" id="MachineryEquippedDetailText" name="MachineryEquippedDetailText" asp-for="MachineryEquippedDetailText">
                    <span asp-validation-for="MachineryEquippedDetailText" class="text-danger"></span>*@
                </div>
            </div>

            <div class='row mt-3'>
                <div class='col-12'>
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Item Code</label>
                        <div class='col-sm-9'>
                            <input type='text' class='form-control' id='ItemCode' asp-for='ItemCode' name='ItemCode' disabled readonly>
                            <span asp-validation-for='ItemCode' class='text-danger'>
                            </span>
                        </div>
                    </div>

                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Machinery</label>
                        <div class='col-sm-9'>
                            <select class='form-select' id='choices-multiple-remove-button-MachineryID' onchange="fnFillItemCode()" asp-items='@CommonExtension.GetAllMachineryAsync()' asp-for='MachineryID'>
                                <option value=''>Select here...</option>
                            </select>
                        </div>
                    </div>

                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Equipped Date</label>
                        <div class='col-sm-9'>
                            <input type='date' class='form-control' id='EquippedDate' asp-for='EquippedDate' name='EquippedDate'>
                            <span asp-validation-for='EquippedDate' class='text-danger'>
                            </span>
                        </div>
                    </div>

                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Company</label>
                        <div class='col-sm-9'>
                            <select class='form-select' asp-for="CompanyID" id='choices-multiple-remove-button-CompanyID' asp-items='@CommonExtension.GetAllCompanyAsync()'>
                                <option value=''>Select here...</option>
                            </select>
                        </div>
                    </div><div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Department</label>
                        <div class='col-sm-9'>
                            <select class='form-select' asp-for="DepartmentID" id='choices-multiple-remove-button-DepartmentID' asp-items='@CommonExtension.GetAllDepartmentAsync()'>
                                <option value=''>Select here...</option>
                            </select>
                        </div>
                    </div>
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Plant Name/Number</label>
                        <div class='col-sm-9'>
                            <input type='text' class='form-control' id='PlantNameOrNumber' asp-for='PlantNameOrNumber' name='PlantNameOrNumber'>
                            <span asp-validation-for='PlantNameOrNumber' class='text-danger'>
                            </span>
                        </div>
                    </div>


                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Position/Location</label>
                        <div class='col-sm-9'>
                            <input type='text' class='form-control' id='PositionOrLocation' asp-for='PositionOrLocation' name='PositionOrLocation'>
                            <span asp-validation-for='PositionOrLocation' class='text-danger'>
                            </span>
                        </div>
                    </div>


                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Cost Center</label>
                        <div class='col-sm-9'>
                            <input type='text' class='form-control' id='CostCenter' asp-for='CostCenter' name='CostCenter'>
                            <span asp-validation-for='CostCenter' class='text-danger'>
                            </span>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer-sticky text-center">
                <button id="btnSave" type="button" onclick="fnSubmit()" class="btn btn-primary btn-info px-5 ladda-button">Submit</button>
                <button type="button" data-bs-dismiss="offcanvas" class="btn btn-primary btn-info px-5 my-2">Back</button>
            </div>
        </div>
    </div>
</form>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var urlsave = '@Url.Action("AddOrUpdateMachineryEquippedDetail", "MachineryEquippedDetail")';
    function fnSubmit() {
        document.getElementById('ItemCode').removeAttribute('disabled');
        if ($("#formMachineryEquippedDetail").valid()) {
            var l = laddaStart('btnSave');
            console.log(l);
            modeldata = $("#formMachineryEquippedDetail").serialize();
            $.ajax({
                type: 'POST',
                url: urlsave,
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    if (data.status) {
                        //notification
                        $("#canvas_masterentity2").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                        window.location.reload().delay(3000);
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                },
                error: function (error) {
                    laddaStop(l);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            }).always(function () {
                hideLoader();
            });
        }
    };

    $(document).ready(function () {

        let CompanyIDs = document.getElementById("choices-multiple-remove-button-CompanyID").value;
        $.each(CompanyIDs.split(","), function (i, e) {
            $("#choices-multiple-remove-button-CompanyID option[value=" + e + "]").prop("selected", true);
        });

        let DepartmentIDs = document.getElementById("choices-multiple-remove-button-DepartmentID").value;
        $.each(DepartmentIDs.split(","), function (i, e) {
            $("#choices-multiple-remove-button-DepartmentID option[value=" + e + "]").prop("selected", true);
        });





        var multipleCancelButtonParty = new Choices("#choices-multiple-remove-button-CompanyID", {
            removeItemButton: false,
            maxItemCount: 10,
            searchResultLimit: 10,
            renderChoiceLimit: 10
        });

        var multipleCancelButtonParty = new Choices("#choices-multiple-remove-button-DepartmentID", {
            removeItemButton: false,
            maxItemCount: 10,
            searchResultLimit: 10,
            renderChoiceLimit: 10
        });



    });


    function fnFillItemCode() {

        let machineryNameDrp = document.getElementById('choices-multiple-remove-button-MachineryID');
        let selectedMachineIndex = machineryNameDrp.options[machineryNameDrp.selectedIndex];
        let machineryIdValue = selectedMachineIndex.value;

        let urlFillItemCode = '@Url.Action("GetItemCode","Machinery")';
        $.ajax({
            url: urlFillItemCode,
            type: "GET",
            data: { id: machineryIdValue },
            dataType: 'json',
            success: function (data) {
                if (data.status && data.itemCode != null) {
                    document.getElementById('ItemCode').value = data.itemCode;
                }
            }
        });
    };

</script>