@using Business.Entities.Master;
@using Microsoft.AspNetCore.Identity
@using Business.SQL
@using GridCore
@addTagHelper *, GridMvc

@model ISGrid
@{
    ViewData["Title"] = "Finish Good Item";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .btn .disabled {
        cursor: not-allowed;
        pointer-events: none;
        opacity: 0.4;
    }
</style>
@*<div class="page-breadcrumb d-none d-sm-flex align-items-center pb-2 border-bottom">*@
 @*   <div class="ps-3 col-md-6">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item">
                    <a asp-controller="Home" asp-action="Index" asp-area="SuperAdmin"><i class="bx bx-home-alt"></i></a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">Finish Good Item</li>
            </ol>
        </nav>
    </div>*@
   @* <div class="col-md-6 text-align-right">*@
        @* offcanvas-title="Add Finish Good Item"
        data-id="0"
        data-bs-toggle="offcanvas"
        data-bs-target="#canvas_fgitem"
        aria-controls="canvas_fgitem"*@
        @*<a class="btn btn-primary px-5" onclick="fnFinishGoodItem(this)"
        href="@Url.Action("Create","FinishGoodItem")">
        Add Item
        </a>*@
    @*</div>*@
@*</div>*@
<div class="row pt-2">
    <div class="col-md-12">
        <div id="dvInfo">
            @{
                Html.RenderPartial("_add", new ItemTableCollection());
            }
        </div>
    </div>
</div>
    <div class="row pt-2">
        <div class="col-md-12">
            <grid model="@Model" uiactions="manipulationchange" role="grid" />
        </div>
    </div>

<div class="offcanvas offcanvas-end" tabindex="-1" id="canvas_fgitem">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Item</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-l abel="Close"></button>
    </div>
    <div class="offcanvas-body pt-3 pb-5">
        <div id="dvInfo">
        </div>
    </div>
</div>
<div id="finishGoodItemAddControls">
</div>
<div class="modal" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.TableName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- Preloader -->
            <div id="modal-preloader" style="display:none;">
                <div class="modal-preloader_status">
                    <div class="modal-preloader_spinner">
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border" role="status"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Preloader -->
            <div class="modal-body">
                <form data-action="@Url.Action("AddControls","FinishGoodItem")">
                    <input type="hidden" id="ItemTableCollectionID" />
                    <div class="form-group">
                        <label id="lbl1"></label>
                        <input id="txt1" class="form-control" />
                        <textarea id="txtA1" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label id="lbl2"></label>
                        <input id="txt2" class="form-control" />
                        <textarea id="txtA2" class="form-control"></textarea>
                    </div>
                    <div class="form-group">
                        <label id="lbl3"></label>
                        <input id="txt3" class="form-control" />
                        <textarea id="txtA3" class="form-control"></textarea>
                    </div>
                </form>
                <div class="clear">&nbsp;</div>
                <div class="divTblData" style="height:250px; overflow-y: scroll;"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="postbackBtn" data-save="modal">Save changes - Done</button>
                <button type="button" class="btn btn-secondary" id="closeBtn" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var urlAdd = '@Url.Action("Get", "FinishGoodItem")';
    var urlDelete = '@Url.Action("Delete","FinishGoodItem")';
    var urlAddControls = '@Url.Action("AddControls","FinishGoodItem")';
    var urlGetData = '@Url.Action("GetData","FinishGoodItem")';
    var urlMyPartialView = '@Url.Action("MyPartialView","FinishGoodItem")';
    function fnDelete(obj) {
        var _id = $(obj).data('id');
        var act = $(obj).data('act');
        act = act == "True" ? false : true;
        var _parameters = { id: _id, active: act };
        $.ajax({
            url: urlDelete,
            type: "POST",
            data: _parameters,
            success: function (data, textStatus, jqXHR) {

                //$("#canvas_fgitem").show();//('hide');
                Lobibox.notify('success', {
                    pauseDelayOnHover: true,
                    size: 'mini',
                    icon: 'bx bx-check-circle',
                    continueDelayOnInactiveTab: false,
                    position: 'bottom right',
                    msg: data.message
                });
                window.location.reload();
            }
        });
    }

    function fnFinishGoodItem(obj, id = 0) {
        var _id = 0;
        if (obj == undefined && id > 0) {
            _id = id;
        }
        else {
            _id = $(obj).data('id');
        }
        var _parameters = { id: _id };
        console.log(_parameters);
        $.ajax({
            url: urlAdd,
            type: "POST",
            data: _parameters,
            success: function (data, textStatus, jqXHR) {
                $('#dvInfo').html(data);
                //$("#canvas_fgitem").show();//('hide');
            }
        });
    }

    function fnAddRecordsToTable(obj) {
        var _id = $(obj).data('id');
        var _parameters = { id: _id };
        console.log(_id);
        $.ajax({
            url: urlGetData,
            type: 'POST',
            data: _parameters,
            success: function (data) {
                console.table(data)
                $('#exampleModal:visible').find('.modal-title').html(data.TableName);
                $frm = $('#exampleModal:visible').find('form');
                $frm.find("#ItemTableCollectionID").val(data.ItemTableCollectionID);
                $frm.find("#lbl1").html(data.Column1);
                if (data.Column1Type == "TextArea") {
                    $frm.find("#txt1").remove();
                    $frm.find("#txtA1").attr("asp-items", data.Column1);
                    $frm.find("#txtA1").attr("type", data.Column1Type);
                    $frm.find("#txtA1").attr("rows", 5);
                    $frm.find("#txtA1").attr("cols", 20);
                    $frm.find("#lbl1").attr("for", "txtA1");
                }
                else {
                    $frm.find("#txtA1").remove();
                    $frm.find("#txt1").attr("asp-items", data.Column1);
                    $frm.find("#txt1").attr("type", data.Column1Type);
                    $frm.find("#lbl1").attr("for", "txt1");
                    $frm.find("#txt1").attr("required", "required");
                }
                $frm.find("#lbl2").html(data.Column2);
                if (data.Column2Type == "TextArea") {
                    $frm.find("#txt2").remove();
                    $frm.find("#txtA2").attr("asp-items", data.Column2);
                    $frm.find("#txtA2").attr("type", data.Column2Type);
                    $frm.find("#txtA2").attr("rows", 5);
                    $frm.find("#txtA2").attr("cols", 20);
                    $frm.find("#lbl2").attr("for", "txtA2");
                }
                else {
                    $frm.find("#txtA2").remove();
                    $frm.find("#txt2").attr("asp-items", data.Column2);
                    $frm.find("#txt2").attr("type", data.Column2Type);
                    $frm.find("#lbl2").attr("for", "txt2");
                    $frm.find("#txt2").attr("required", "required");
                }
                $frm.find("#lbl3").html(data.Column3);
                if (data.Column3Type == "TextArea") {
                    $frm.find("#txt3").remove();
                    $frm.find("#txtA3").attr("asp-items", data.Column3);
                    $frm.find("#txtA3").attr("type", data.Column3Type);
                    $frm.find("#txtA3").attr("rows", 5);
                    $frm.find("#txtA3").attr("cols", 20);
                    $frm.find("#lbl3").attr("for", "txtA3");
                }
                else {
                    $frm.find("#txtA3").remove();
                    $frm.find("#txt3").attr("asp-items", data.Column3);
                    $frm.find("#txt3").attr("type", data.Column3Type);
                    $frm.find("#lbl3").attr("for", "txt3");
                    $frm.find("#txt3").attr("required", "required");
                }

                $('#exampleModal:visible').find('.modal-body').find('div.divTblData').empty();
                // Load the partial view content using jQuery AJAX
                // Load the list partial view content into the modal body
                $.ajax({
                    url: '/SuperAdmin/FinishGoodItem/MyPartialView',
                    type: 'GET',
                    data: { id: $('#exampleModal:visible').find('.modal-body').find("#ItemTableCollectionID").val() },
                    success: function (data) {
                        $('#exampleModal:visible').find('.modal-body').find('div.divTblData').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading list partial view: ' + error);
                    }
                });
            }
        });

    }

    $(function (e) {
        $("#modal-preloader").hide();
        //$('button[data-save="modal"]').on('click', function (data) {
        //    console.log('click')
        //    $frm = $(this).parent().prev().find('form');
        //    var actionUrl =  $frm.attr("action");
        //    console.log(actionUrl)
        //    var sendData = $frm.serialize();
        //    $.post(actionUrl, sendData).done(function (data) {
        //        $modal.modal('hide');
        //    })
        //});

        $('#exampleModal').on('show.bs.modal', function (event) {
            var modal = $(this);

            // Load the add/edit partial view content into the modal body
            //$.ajax({
            //    url: '/SuperAdmin/FinishGoodItem/AddControls',
            //    type: 'GET',
            //    success: function (data) {
            //        modal.find('.modal-body').html(data);
            //    },
            //    error: function (xhr, status, error) {
            //        console.error('Error loading add/edit partial view: ' + error);
            //    }
            //});
            // Load the list partial view content into the modal body
            //modal.find('.modal-body').find('div.divTblData').empty();
            console.log("HTML " + modal.find('.modal-body').find('div.divTblData').find("table.TFtable tr").length)
            if (modal.find('.modal-body').find('div.divTblData').find("table.TFtable tr").length <= 1) {
                $.ajax({
                    url: '/SuperAdmin/FinishGoodItem/MyPartialView',
                    type: 'GET',
                    data: { id: modal.find('.modal-body').find("#ItemTableCollectionID").val() },
                    success: function (data) {
                        modal.find('.modal-body').find('div.divTblData').html(data);
                    },
                    error: function (xhr, status, error) {
                        console.error('Error loading list partial view: ' + error);
                    }
                });
            }
        });

        $('#postbackBtn').on('click', function () {
            // Make the AJAX call
            $this = $(this);
            $frm = $this.parent().prev().find('form');
            var actionUrl = urlAddControls;
            console.log(actionUrl)
            var finishGoodItemDynamic = {
                TableName: $this.parents().find('.modal-title').html(),
                ItemTableCollectionID: $frm.find("#ItemTableCollectionID").val(),
                aList: [
                    { name: $frm.find("label[id='lbl1']").text(), value: $frm.find("input[type='text']").eq(0).val() },
                    { name: $frm.find("label[id='lbl2']").text(), value: $frm.find("input[type='text']").eq(1).val() },
                    { name: $frm.find("label[id='lbl3']").text(), value: $frm.find("textarea").val() }
                ]
            }
            $this.parents().find('.modal-body').find('div.divTblData').empty();
            $.ajax({
                url: actionUrl,
                type: 'POST',
                data: finishGoodItemDynamic,
                success: function (data) {
                    // Close the modal
                    console.log(data.length)
                    if (data.length) {

                        //$this.parents(".modal").modal('hide');
                    }
                }
            });
            $this.parents().find('.modal-body').find("form").find("input[class='form-control']").val("");
            $this.parents().find('.modal-body').find("form").find("textarea[class='form-control']").val("");
            //$("#modal-preloader").delay(5000).fadeOut(100);
            $('#exampleModal:visible').find("#closeBtn").trigger("click");
            // Load the list partial view content into the modal body
            //$.ajax({
            //    url: '/SuperAdmin/FinishGoodItem/MyPartialView',
            //    type: 'GET',
            //    data: { id: $this.parents().find('.modal-body').find("#ItemTableCollectionID").val() },
            //    success: function (dataVal) {
                    
            //        $this.parents().find('.modal-body').find('div.divTblData').empty();

            //        $this.parents().find('.modal-body').find('div.divTblData').html(dataVal);
            //        $("#modal-preloader").hide();
            //    },
            //    error: function (xhr, status, error) {
            //        console.error('Error loading list partial view: ' + error);
            //    }
            //});
        });
    });
</script>