@using Business.Entities.Marketing.OfferAcceptedMasterModel;
@model OfferAcceptedMaster;
@addTagHelper *, GridMvc
@{
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    ViewBag.Title = "Offer Accepted Details..";
    CustomerAddressTxn customerAddressLists = new CustomerAddressTxn();

}
@{
    int i = 0;
    var modelA = Model;
    var modelB = modelA;
    // int index = 0;
    // if (Model.OfferAcceptedDetails.Count() > 0)
    // {
    //     index = Model.OfferAcceptedDetails.Count();
    // }

}
<style>
    fieldset {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 20px;
        background-color: #fff;
    }

    legend {
        font-weight: 200;
        border: 1px solid #ccc;
        border-radius: 25px;
        background-color: #f5f5f5;
        margin: -30px 0px 20px 0;
        width: 50%;
        text-align: center;
        color: black;
    }

    .box {
        width: auto;
        height: auto;
    }
</style>


<form class="form-horizontal" role="form" id="formOfferAcceptedMaster">
    <div class="row">
        <div>&nbsp;</div>
        <fieldset class="card">

            <legend style="">Offer Accepted Master</legend>


            <div class=" col-sm-12 col-md-12 col-lg-12 text-center fs-3 text">
                <div class="row mb-3">
                    <input type="hidden" asp-for="OfferAcceptedID" />
                    <input type="hidden" asp-for="SAPCollectionJSONString" id="SAPCollectionJSONString" />
                </div>
            </div>
            <div class="row">

                <div class=" col-sm-4 col-md-4 col-lg-4">
                    <div class='row mb-4'>
                        <label for='' class='col-sm-5 col-form-label'>Offer Accepted No</label>
                        <div class='col-sm-7'>
                            <input type='text' class='form-control' id='OfferAcceptedID' asp-for='OfferAcceptedID' name='OfferAcceptedID' readonly>
                            <span asp-validation-for='OfferAcceptedID' class='text-danger'>
                            </span>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-4 col-md-4 col-lg-4">
                    <div class='row mb-4'>
                        <label for='' class='col-sm-5 col-form-label'>Offer Accepted Date</label>
                        <div class='col-sm-7'>
                            <input type='date' class='form-control' id='OfferAcceptedDate' asp-for='OfferAcceptedDate' name='OfferAcceptedDate'>
                            <span asp-validation-for='OfferAcceptedDate' class='text-danger'>
                            </span>
                        </div>
                    </div>
                </div>
                @*  </div>
                <div class="row"> *@
                <div class=" col-sm-4 col-md-4 col-lg-4">
                    <div class='row mb-4'>
                        <label for='' class='col-sm-5 col-form-label'>Financial Year</label>
                        <div class='col-sm-7'>
                            <select class='form-select' asp-for="FinancialYearID" id='choices-multiple-remove-button-FinancialYearID' asp-items='@CommonExtension.GetAllFinancialYearAsync()'>
                                <option value=''>Select here...</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6">
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Customer Name</label>
                        <div class='col-sm-9'>
                            <select class='form-select' asp-for="CustomerID" id='choices-multiple-remove-button-CustomerID' asp-items='@CommonExtension.GetAllCustomerAsync()'>
                                <option value=''>Select here...</option>
                            </select>
                        </div>
                    </div>
                </div>
                @* <div class=" col-sm-6 col-md-6 col-lg-6">
                <div class='row mb-3'>
                <label for='' class='col-sm-3 col-form-label'>Customer Code</label>
                <div class='col-sm-9'>
                <input type='text' class='form-control' id='CustomerCode' value="@ViewBag.customerCode" readonly>
                </div>
                </div>
                </div> *@
                @* </div>
                <div class="row"> *@
                <div class=" col-sm-6 col-md-6 col-lg-6">
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Address Type</label>
                        <div class='col-sm-9'>
                            <select class='form-select' asp-for="AddressTypeID" id='choices-multiple-remove-button-AddressTypeID' asp-items='@CommonExtension.GetAllAddressTypeAsync()' onchange="getSelectedRespectiveValues()">
                                <option value=''>Select here...</option>
                            </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row" id="divAddressInfo">
                @await Html.PartialAsync("OfferAcceptedCustomerAddress", customerAddressLists);
            </div>
            <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6">
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Shop Order No</label>
                        <div class='col-sm-9'>
                            <input type='text' class='form-control' id='ShopOrderID' asp-for='ShopOrderID' name='ShopOrderID'>
                            <span asp-validation-for='ShopOrderID' class='text-danger'>
                            </span>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-6 col-lg-6">
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Shop Order Date</label>
                        <div class='col-sm-4'>
                            <input type='date' class='form-control' id='ShopOrderDate' asp-for='ShopOrderDate' name='ShopOrderDate'>
                            <span asp-validation-for='ShopOrderDate' class='text-danger'>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6">
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Reference</label>
                        <div class='col-sm-9'>
                            <input type='text' class='form-control' id='Reference' asp-for='Reference' name='Reference'>
                            <span asp-validation-for='Reference' class='text-danger'>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-1" style="width:2.333333%;">
                    <a class="MCLFAB fa-lg pb-1" id="btnAddNewRow" onclick="fnOpenNewRowInfo()" style="line-height: 1.75em;"><iconify-icon class="parent-icon" icon="material-symbols:add-circle-outline-rounded"></iconify-icon></a>
                </div>
                <label for="" class="col-sm-3 col-form-label"><b>Add Offer Accepted item here</b></label>
            </div>
            <div class="row">
                <div class="col-md-12" id="newDivForRow">
                    @if (Model.iSGrid != null)
                    {
                        <grid model="@Model.iSGrid" />
                    }
                    else
                    {
                        <div class='grid-mvc' data-lang='en' data-gridname='OfferAcceptedDetailTable' data-selectable='true' data-extsortable='false' data-groupable='false' data-multiplefilters='false' data-initfilters='' dir='ltr'><div class='grid-wrap'><div class='row'><div class='col-md-6 grid-header-buttons'></div></div><div class='grid-table-wrap'><table class='table  grid-table'><thead><tr><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Sr No</span></div></div></th><th class=' grid-header' style=' display:none;'><div class='grid-header-group'><div class='grid-header-title'><span>OfferAcceptedDetailID</span></div></div></th><th class=' grid-header' style=' display:none;'><div class='grid-header-group'><div class='grid-header-title'><span>Offer Accepted ID</span></div></div></th><th class=' grid-header' style=' display:none;'><div class='grid-header-group'><div class='grid-header-title'><span>ItemID</span></div></div></th><th class=' grid-header' style=' display:none;'><div class='grid-header-group'><div class='grid-header-title'><span>UOMID</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Item Code</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Item Name</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Add</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>HSN Code</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>UOM</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Qty</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Rate</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Total Amt</span></div></div></th><th class='hidden-xs grid-header' style='width:20px;'><div class='grid-header-group'><div class='grid-header-title'><span>Remove</span></div></div></th></tr></thead><tbody></tbody></table></div><div class='grid-footer'><div class='grid-pager-sizer'>&nbsp;</div><div class='grid-itemscount'><div class='grid-itemscount-label'>Items:</div><div class='grid-itemscount-caption'><b>0</b></div></div></div></div></div>
                    }
                </div>
            </div>
            
            
            <div class="row">
                <div class=" col-sm-6 col-md-6 col-lg-6">
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Net Amount</label>
                        <div class='col-sm-4'>
                            <input type='text' class='form-control' id='NetAmount' asp-for='NetAmount' name='NetAmount'>
                            <span asp-validation-for='NetAmount' class='text-danger'>
                            </span>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-6 col-md-6 col-lg-6">
                    <div class='row mb-3'>
                        <label for='' class='col-sm-3 col-form-label'>Gross Amount</label>
                        <div class='col-sm-4'>
                            <input type='text' class='form-control' id='GrossAmount' asp-for='GrossAmount' name='GrossAmount'>
                            <span asp-validation-for='GrossAmount' class='text-danger'>
                            </span>
                        </div>
                    </div>
                </div>
            </div>


            <div class=" col-sm-12 col-md-12 col-lg-12">

                <div class='row mb-3'>
                    <label for='' class='col-sm-2 col-form-label'>Payment Term</label>
                    <div class='col-sm-10'>
                        <textarea class='form-control' id='PaymentTerm' asp-for='PaymentTerm' name='PaymentTerm'></textarea>
                    </div>
                </div>


                <div class='row mb-3'>
                    <label for='' class='col-sm-2 col-form-label'>Delivery Term</label>
                    <div class='col-sm-10'>
                        <textarea class='form-control' id='DeliveryTerm' asp-for='DeliveryTerm' name='DeliveryTerm'></textarea>
                    </div>
                </div>


                <div class='row mb-3'>
                    <label for='' class='col-sm-2 col-form-label'>Other Remark</label>
                    <div class='col-sm-10'>
                        <textarea class='form-control' id='OtherRemark' asp-for='OtherRemark' name='OtherRemark'></textarea>
                    </div>
                </div>





            </div>

            <hr />
            <div class=" col-sm-12 col-md-12 col-lg-12">
                <div class="text-center">
                    @*<div class="modal-footer-sticky text-center">*@
                    <button id="btnSave" type="button" onclick="fnSubmit()" class="btn btn-primary btn-info px-5 ladda-button">Submit</button>
                    <a class="btn btn-primary btn-info px-5 my-2" asp-controller="OfferAcceptedMaster" asp-action="Index" asp-area="Marketing">Back</a>
                </div>
            </div>
        </fieldset>
    </div>
</form>
<div class="offcanvas offcanvas-end" tabindex="-1" id="canvasAddNewRow" style="visibility: visible; width : 75% !important">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="canvasHeaderAddNewRow"></h5>
        <input type="hidden" id="tempValue" />
        <button type="button" class="btn-close te xt-reset" data-bs-dismiss="offcanvas" aria-l abel="Close"></button>
    </div>
    <div class="offcanvas-body pt-3 pb-5">
        <div id="dvInfoAddNewRow">
            @*    <div class="row mb-1">
            <label class="col-sm-2 col-form-label">Employee List</label>
            <div class="col-sm-6">
            <input type="hidden" id="indexNoControl" />
            <select class="form-control" id="choices-multiple-remove-button-EmployeeID" asp-items="@@CommonExtension.GetAllAvailableEmployeesForMachineryAsync(DateTime.Today.Date)" onchange="fnAddSelectedEmployee()">
            <option value="">Select Employee</option>
            </select>
            </div>
            <div class="modal-footer-sticky text-center">
            <button type="button" onclick="fnSubmitEmployeeExperience()" class="btn btn-primary btn-info px-5 ladda-button" id="btnSave">Save</button>
            <button type="button" class="btn btn-primary btn-info px-5 ladda-button" data-bs-dismiss="offcanvas" aria-l abel="Close">Cancel</button>
            </div>
            </div>
            *@
        </div>
    </div>
</div>
@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">
    var urlsave = '@Url.Action("AddOrUpdateOfferAcceptedMaster", "OfferAcceptedMaster")';
    function fnSubmit() {

        var sapStringJson = document.getElementById('SAPCollectionJSONString');

        var finalTable = document.getElementsByTagName('table');
        var rowLen = finalTable[0].rows.length;

        var tableData = [];
        for (var i = 1; i < rowLen; i++) {

            let OfferAcceptedDetailId = finalTable[0].rows[i].cells[1].children[0].value;
            if (OfferAcceptedDetailId === '') {
                OfferAcceptedDetailId = 0;
            }
            let OfferAcceptedId = finalTable[0].rows[i].cells[2].children[0].value;
            if (OfferAcceptedId === '') {
                OfferAcceptedId = 0;
            }
            let itemId = finalTable[0].rows[i].cells[3].children[0].value;
            if (itemId === '') {
                itemId = 0;
            }
            var rowData = {

                OfferAcceptedDetailID: OfferAcceptedDetailId,
                OfferAcceptedID: OfferAcceptedId,
                ItemID: itemId,
                UOMID: finalTable[0].rows[i].cells[4].children[0].value,
                ItemCode: finalTable[0].rows[i].cells[5].children[0].value,
                ItemName: finalTable[0].rows[i].cells[6].children[0].value,
                HSNcodes: finalTable[0].rows[i].cells[8].children[0].value,
                // UOM: finalTable[0].rows[i].cells[0].children[0].value,
                Qty: finalTable[0].rows[i].cells[10].children[0].value,
                Rate: finalTable[0].rows[i].cells[11].children[0].value,
                TotalAmount: finalTable[0].rows[i].cells[12].children[0].value

            };

            tableData.push(rowData);
        }
        sapStringJson.value = JSON.stringify(tableData);

        if ($("#formOfferAcceptedMaster").valid()) {
            var l = laddaStart('btnSave');
            console.log(l);
            modeldata = $("#formOfferAcceptedMaster").serialize();
            $.ajax({
                type: 'POST',
                url: urlsave,
                data: modeldata,
                dataType: 'json',
                beforeSend: function () { },
                success: function (data) {
                    if (data.status) {
                        //notification
                        // $("#canvas_masterentity2").hide();//('hide');
                        Lobibox.notify('success', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                        window.location.href = '/Marketing/OfferAcceptedMaster/';
                    }
                    else {
                        Lobibox.notify('error', {
                            pauseDelayOnHover: true,
                            size: 'mini',
                            icon: 'bx bx-check-circle',
                            continueDelayOnInactiveTab: false,
                            position: 'bottom right',
                            msg: data.message
                        });
                    }
                },
                error: function (error) {
                    laddaStop(l);
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: "@MessageHelper.Error"
                    });
                }
            }).always(function () {
                hideLoader();
            });
        }
    }

    // $(function () {
    //  var GriddataUrl = '@@Url.Action("OfferAcceptedItemDetail", "OfferAcceptedMaster")';
    //     let selectedValue = $("#OfferAcceptedID").val();
    //     debugger;
    //     $.ajax({
    //         url: GriddataUrl,
    //         data: { OfferAcceptedID: selectedValue },
    //             type: 'GET',
    //             success: function (result) {
    //                 $("#divOfferAcceptedDetail").load(result);
    //             }
    //         });
    // });

    function getSelectedRespectiveValues() {
        let selectedValue = $("#choices-multiple-remove-button-AddressTypeID option:selected").val();
        let selectedCustomert = $("#choices-multiple-remove-button-CustomerID option:selected").val();
        // alert(selectedValue);
        var urlGetData = '@Url.Action("GetActionResultAsyncCustomerAddress", "OfferAcceptedMaster")';
        $.ajax({
            url: urlGetData,
            data: { addressTypeId: selectedValue, customerId: selectedCustomert },
            type: 'GET',
            success: function (data) {
                $('#divAddressInfo').html(data);
            },
            error: function (error) {
                laddaStop(l);
                Lobibox.notify('error', {
                    pauseDelayOnHover: true,
                    size: 'mini',
                    icon: 'bx bx-check-circle',
                    continueDelayOnInactiveTab: false,
                    position: 'bottom right',
                    msg: "@MessageHelper.Error"
                });
            }
        }).always(function () {
            hideLoader();
        });
    }

    $(document).ready(function () {
        getSelectedRespectiveValues();


        var multipleCancelButtonParty = new Choices('#choices-multiple-remove-button-FinancialYearID', {
            removeItemButton: false,
            maxItemCount: 10,
            searchResultLimit: 10,
            renderChoiceLimit: 10
        });

        var multipleCancelButtonParty = new Choices('#choices-multiple-remove-button-CustomerID', {
            removeItemButton: false,
            maxItemCount: 10,
            searchResultLimit: 10,
            renderChoiceLimit: 10
        });

        var multipleCancelButtonParty = new Choices('#choices-multiple-remove-button-AddressTypeID', {
            removeItemButton: false,
            maxItemCount: 10,
            searchResultLimit: 10,
            renderChoiceLimit: 10
        });



    });

    function fnCalcAmt(inputValue) {
        var qtyVal = document.getElementById('qtyIndex' + inputValue).value;
        var rateVal = document.getElementById('rateIndex' + inputValue).value;
        var amtVal = document.getElementById('amtIndex' + inputValue);
        amtVal.value = Number(qtyVal * rateVal);
    }

    function fnOpenNewRowInfo() {
        var i = 0;
        // alert('fnOpenNewRowInfo fn invoked');
        var tableElement = document.getElementsByTagName('Table');

        // var srCount = tableElement[0].rows.length;
        // var index = 'newRowIndex' + srCount;
        if (tableElement.length > 0) {
            var srCount = tableElement[0].rows.length;
            var index = 'newRowIndex' + srCount;
            var newRow = "<tr class='grid-row'><td class='grid-cell' style='' data-name='SrNo'>" + srCount + "</td><td class='grid-cell' style='display:none;' data-name=''><input type='hidden' class='form-control' value='' id='OfferAcceptedDetailId" + index + "'></td><td class='grid-cell' style='display:none;' data-name=''><input type='hidden' class='form-control' value='' id='OfferAcceptedId" + index + "'></td><td class='grid-cell' style='display:none;' data-name=''><input type='hidden' class='form-control' value='' id='itemId" + index + "'></td><td class='grid-cell' style='display:none;' data-name=''><input type='hidden' class='form-control' value='' id='UOMID" + index + "'></td><td class='grid-cell' style='' data-name=''><input type='text' class='form-control' value='' id='itemCodeIndex" + index + "' readonly=''></td><td class='grid-cell' style='' data-name=''><input type='text' class='form-control' value='' id='itemNameIndex" + index + "' readonly=''></td><td class=' grid-cell' style='' data-name=''><a class='MCLFAB fa-lg pb-1' id='btnAddNewRow' onclick='fnAddNewRowValue(" + srCount + ")' href='javascript:void(0)' data-bs-toggle='offcanvas' data-bs-target='#canvasAddNewRow' aria-controls='canvasAddNewRow'><iconify-icon class='parent-icon' icon='material-symbols:add-circle-outline-rounded' /></a></td><td class='grid-cell' style='' data-name=''><input type='text' class='form-control' value='' id='hsnCodeIndex" + index + "'></td><td class='grid-cell' style='' data-name=''><input type='text' class='form-control' value ='' id='UOMIndex" + index + "' readonly=''></td><td class='grid-cell' style='' data-name=''><input type='text' class='form-control' value='' oninput='fnCalcAmt(" + srCount + ")' id='qtyIndex" + srCount + "'></td><td class='grid-cell' style='' data-name=''><input type='text' class='form-control' value='' oninput='fnCalcAmt(" + srCount + ")' id='rateIndex" + srCount + "'> </td><td class='grid-cell' style='' data-name=''><input type='text' class='form-control' value='' id='amtIndex" + srCount + "' readonly=''> </td><td class='hidden-xs grid-cell' style='' data-name=''><h5 class='fa-2x pt-1'><a class='MCLFRB' id='btnRemoveRow' onclick='removeRow(this)'><iconify-icon icon = 'mdi:remove-circle-outline'></iconify-icon></a></h5></td></tr>";
            $('Table tbody').append(newRow);
        }
        else {

            var newTableInDiv = document.getElementById('newDivForRow');
            var newTable = "<div class='grid-mvc' data-lang='en' data-gridname='OfferAcceptedDetailTable' data-selectable='true' data-extsortable='false' data-groupable='false' data-multiplefilters='false' data-initfilters='' dir='ltr'><div class='grid-wrap'><div class='row'><div class='col-md-6 grid-header-buttons'></div></div><div class='grid-table-wrap'><table class='table  grid-table'><thead><tr><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Sr No</span></div></div></th><th class=' grid-header' style=' display:none;'><div class='grid-header-group'><div class='grid-header-title'><span>OfferAcceptedDetailID</span></div></div></th><th class=' grid-header' style=' display:none;'><div class='grid-header-group'><div class='grid-header-title'><span>Offer Accepted ID</span></div></div></th><th class=' grid-header' style=' display:none;'><div class='grid-header-group'><div class='grid-header-title'><span>ItemID</span></div></div></th><th class=' grid-header' style=' display:none;'><div class='grid-header-group'><div class='grid-header-title'><span>UOMID</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Item Code</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Item Name</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Add</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>HSN Code</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>UOM</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Qty</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Rate</span></div></div></th><th class=' grid-header' style=''><div class='grid-header-group'><div class='grid-header-title'><span>Total Amt</span></div></div></th><th class='hidden-xs grid-header' style='width:20px;'><div class='grid-header-group'><div class='grid-header-title'><span>Remove</span></div></div></th></tr></thead><tbody></tbody></table></div><div class='grid-footer'><div class='grid-pager-sizer'>&nbsp;</div><div class='grid-itemscount'><div class='grid-itemscount-label'>Items:</div><div class='grid-itemscount-caption'><b>0</b></div></div></div></div></div>";

            newTableInDiv.innerHTML += newTable;
        }
        i++;
        srCount++;

        // // document.getElementById('indexNoControl').value = indexNo;
        // $('#canvasAddNewRow').show();//('hide');
        // $('#dvInfoAddNewRow').html();
    }

    function removeRow(button) {

        var row = button.parentNode.parentNode.parentNode;

        let OfferAcceptedDetailId = row.cells[1].children[0].value;
        let OfferAcceptedId = row.cells[2].children[0].value;
        var params = { OfferAcceptedDetailId: OfferAcceptedDetailId, OfferAcceptedId: OfferAcceptedId };
        $.ajax({
            type: 'POST',
            url: '/Marketing/OfferAcceptedMaster/OfferAcceptedDetailItemDeactivation',
            data: params,
            dataType: 'json',
            success: function (data) {
                if (data.status) {
                    //notification
                    // $("#canvas_masterentity2").hide();//('hide');
                    Lobibox.notify('success', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: 'Item removed.'
                    });
                    //window.location.href = '/Marketing/OfferAcceptedMaster/';
                    row.parentNode.removeChild(row);
                }
                else {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: 'Something went wrong to remove item.'
                    });
                }
            },
            error: function (error) {
                laddaStop(l);
                Lobibox.notify('error', {
                    pauseDelayOnHover: true,
                    size: 'mini',
                    icon: 'bx bx-check-circle',
                    continueDelayOnInactiveTab: false,
                    position: 'bottom right',
                    msg: "@MessageHelper.Error"
                });
            }
        }).always(function () {
            hideLoader();
        });

    }

    function fnAddNewRowValue(obj) {
        // alert('fnAddNewRowValue fn invoked.');
        // var tableElement = document.getElementsByTagName('table');
        document.getElementById('canvasHeaderAddNewRow').innerHTML = "Add Info";

        $.ajax({
            url: '/Marketing/OfferAcceptedMaster/GetSAPItemCollection/',
            type: "GET",
            success: function (data, textStatus, jqXHR) {
                $("#canvasAddNewRow").show();//('hide');
                $('#dvInfoAddNewRow').html(data);
                document.getElementById('tempValue').value = obj;
            }
        });

    }
</script>