@model List<Business.Entities.ProductPhotoPath.ProductPhotoPath>
@*@using Business.SQL
@using GridCore
@addTagHelper *, GridMvc*@

@*@model ISGrid*@
@{
    ViewData["Title"] = "Upload Product Images";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
    var test = Model;
    string itemGroup = ViewBag.ItemGroup;
    string wareHouse = ViewBag.WareHouse;
}
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 mx-auto">
            <div class="card border-0 shadow rounded-3">
                <div class="card-body">
                    <div class="row ProductImageUpload">
                        <div class="ps-3 col-md-6">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb mb-0 p-0">
                                    <li class="breadcrumb-item">
                                        <a asp-area="Admin" asp-controller="UploadProductImages" asp-action="IndexProductDisplay"><i class="bx bx-home-alt"></i></a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">Product Images and Description</li>
                                </ol>
                            </nav>
                        </div>
                        @*  <div class="col-md-6 text-align-right">
                        <a asp-area="Admin" asp-controller="UploadProductImages" asp-action="AddOrEditProductImages" class="btn btn-primary">Add</a>
                        </div> *@
                    </div>

                    <div class="row pt-1">
                        <hr>
                        @* <div class="col-12">
                        <div class="row">
                        <div class="col-sm-3">
                        <!-- <input type="hidden" asp-for="WarehouseID" />-->

                        <label class="col-form-label">Warehouse</label>
                        <select class="form-select" id="choices-multiple-WareHouse" asp-items="@MarketingExtension.GetAllSAPWareHouseAsync()">
                        <option value="">Select Warehouse Here...</option>
                        </select>
                        </div>
                        <div class="col-sm-3">
                        <!--<input type="hidden" asp-for="ItemGroupNameID" />-->
                        <label class="col-form-label">Item Group Name</label>
                        <select class="form-select" id="choices-multiple-ItemGroup" asp-items="@MarketingExtension.GetAllSAPItemGroupAsync()">
                        <option value="">Select Item Group Here...</option>
                        </select>
                        </div>

                        <div class="col-sm-3">
                        <label class="col-form-label">Search In Item Desc.</label>
                        <input type="text" class="form-control" id="SearchString" placeholder="Search by string." value="@ViewBag.SearchString">
                        </div>
                        <div class="col-sm-3">
                        <div class="SAPItemCollectionSreachButton pt-3">
                        <button id="btnSearchEmployeeDetail" type="button" onclick="fnSearchSAPItem(true)" class="btn btn-outline-primary searchbtn btn-sm py-2">Search</button> &nbsp;
                        <button id="btnResetEmployeeDetail" type="button" onclick="fnResetSAPItem()" class="btn btn-outline-primary searchbtn btn-sm py-2">Reset</button>

                        </div>
                        </div>
                        </div>
                        </div> *@
                        <div class="col-12">
                            <div class="row mb-5" id="imagesLoop">
                                @foreach (var items in Model)
                                {
                                    <div class="col-sl-12 col-md-4 col-lg-4 col-xl-4 my-3">
                                        <div class="card rounded">
                                            <div class="card-body custom-bgColor-ProductImage">
                                                @* <img id="img01" src="@Html.DisplayFor(modelItem => items.ImagePath)" class="card-img-top rounded-circle mx-auto d-block border border-dark" alt="@Html.DisplayFor(modelItem => items.ProductCategoryText)" style="width:200px; height:200px;"> *@




                                                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                                                    <div class="carousel-inner">

                                                        @foreach (var item in Model)
                                                        {
                                                            <div class="carousel-item active">
                                                                <img class="d-block rounded-circle mx-auto d-block border border-dark" src="@Html.DisplayFor(modelItem => items.ProductImageTxnPath)" alt="@Html.DisplayFor(modelItem => items.ProductCategoryText)" style="width:200px; height:200px;">
                                                            </div>
                                                        }


                                                        @*  <div class="carousel-item active">
                                                    <img class="d-block rounded-circle mx-auto d-block border border-dark" src="@Html.DisplayFor(modelItem => items.ProductImageTxnPath)" alt="First slide" style="width:200px; height:200px;">
                                                    </div>
                                                    <div class="carousel-item">
                                                    <img class="d-block rounded-circle mx-auto d-block border border-dark" src="\assets\images\uploadProductImages\MultipleUploadedFiles\House Wires_2.png" alt="Second slide" style="width:200px; height:200px;">
                                                    </div>
                                                    <div class="carousel-item">
                                                    <img class="d-block rounded-circle mx-auto d-block border border-dark" src="\assets\images\uploadProductImages\MultipleUploadedFiles\House Wires_3.jpg" alt="Third slide" style="width:200px; height:200px;">
                                                    </div> *@
                                                    </div>
                                                    @* <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Previous</span>
                                                </a>
                                                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                                <span class="sr-only">Next</span>
                                                </a> *@
                                                </div>
                                            </div>

                                            <div class="card-body text-center">
                                                <h4 class="card-title">@Html.DisplayFor(modelItem => items.ProductCategoryText)</h4>
                                                <p class="card-text fifty-chars">@Html.DisplayFor(modelItem => items.Description)</p>
                                                <hr />
                                                <a class="btn" id="@items.ProductCategoryID" value="@items.ProductCategoryText" onclick="fnSelectSAPItem(this.id)"><iconify-icon icon="fluent:slide-search-28-regular" width="32" height="32" style="color: black"></iconify-icon></a>
                                                <a class="btn" method="GET" asp-area="Admin" asp-controller="UploadProductImages" asp-action="AddOrEditProductImages" asp-route-id="@items.ProductImageID"><iconify-icon icon="fluent:slide-text-edit-28-regular" width="32" height="32" style="color: black"></iconify-icon></a>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="offcanvas offcanvas-end" tabindex="-1" id="canvas_UploadProductImage">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Add Product Images and Description</h5>
        <button type="button" class="btn-close te  xt-reset" data-bs-dismiss="offcanvas" aria-l abel="Close"></button>
    </div>
    <div class="offcanvas-body pt-3 pb-5">
        <div id="dvInfo">
        </div>
    </div>
</div>-->
    <

<script type="text/javascript">

    let UPIIUrl = '@Url.Action("IndexProductDisplay", "UploadProductImages")';
    //UPIIUrl = UploadProductImagesIndexUrl
    function fnResetSAPItem() {
        window.location.href = UPIIUrl;
    };

    function fnSearchSAPItem() {
        alert('fnSearchSAPItem invoked');
        //var searchString = $('#SearchString').val();
        //let SAPItemUrl = '@@Url.Action("Index", "UploadProductImages")';
        //let itemgroup = document.getElementById("choices-multiple-ItemGroup");
        //let itemgroupIndex = itemgroup.options[itemgroup.selectedIndex];
        //let itemgroupValue = itemgroupIndex.value;
        //let wareHouse = document.getElementById("choices-multiple-WareHouse");
        //let whIndex = wareHouse.options[wareHouse.selectedIndex];
        //let whValue = whIndex.value;
        //let viewAllSAPItemList = SAPItemUrl + '?search=' + searchString + '&itemGroup=' + itemgroupValue + '&wareHouse=' + whValue;
        //window.location.href = viewAllSAPItemList;
    };

    function fnSelectSAPItem(selItemGroup) {
        //alert('fnSelectSAPItem invoked');
        let SAPItemUrl = '/Marketing/SAPItemCollection';
        let itemgroup = document.getElementById(selItemGroup);
        let selectItemGroupValue = itemgroup.getAttribute("value").toUpperCase();
        //alert('selectItemGroupValue--' + selectItemGroupValue);
        let viewAllSAPItemList = SAPItemUrl + '?search=' + selectItemGroupValue;
        //window.location.href = viewAllSAPItemList;
        window.open(viewAllSAPItemList, '_blank');
    };

    $(document).ready(function () {

        $("#choices-multiple-ItemGroup option[value='" + '@Html.Raw(itemGroup)' + "']").prop("selected", true);

        var multipleCancelButtonItemGroup = new Choices('#choices-multiple-ItemGroup', {
            removeItemButton: false,
            maxItemCount: 10,
            searchResultLimit: 10,
            renderChoiceLimit: 10
        });


        $("#choices-multiple-WareHouse option[value='" + '@Html.Raw(wareHouse)' + "']").prop("selected", true);

        var multipleCancelButtonWareHouse = new Choices('#choices-multiple-WareHouse', {
            removeItemButton: false,
            maxItemCount: 10,
            searchResultLimit: 10,
            renderChoiceLimit: 10
        });
    });

    // var urladd = '@@Url.Action("Get", "UploadProductImages")';
    // function fnUploadProductImage(obj) {
    //     var _key = $(obj).data('key');
    //     var _id = $(obj).data('id');
    //     var _parameters = { id: _id, key: _key };
    //     $.ajax({
    //         url: urladd,
    //         type: "POST",
    //         data: _parameters,
    //         success: function(data, textStatus, jqXHR) {
    //             $('#dvInfo').html(data);
    //             $("#canvas_UploadProductImage").show();//('hide');
    //         }
    //     });
    // }

    $(document).ready(function () {
        $('.carousel').carousel({
            interval: 1200
        })
    });

</script>
