@using Business.Entities.Party
@model PagedDataTable<PartyContactTxn>
<link href="~/admin/assets/vendors/simple-datatables/style.css" rel="stylesheet" />
<div id="PartyContactPersonTable">
    <div class="row">
        <div class="col-lg-6">
            <h6 class="cards-title">
                Party Contact List
            </h6>
        </div>
        <div class="col-lg-12 text-align-right">
            <a onclick="fnPartyContactDetail(0)"
               class="btn btn-primary px-5"
               href="javascript:void(0)"
               data-id="0"
               data-bs-toggle="offcanvas"
               data-bs-target="#canvasPartyContactDetail"
               aria-controls="canvasPartyContactDetail">
                Add New
            </a>
        </div>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table class="table table-striped" id="tblPartyContactPersonTable">
                <thead>
                    <tr>
                        <td>Sr No.</td>
                        <td>Contact Person</td>
                        <td>EmailID</td>
                        <td>Mobile</td>
                        <td>Department</td>
                        <td>Designation</td>
                        <td>IsActive</td>
                        <td>Detail</td>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>@item.SrNo</td>
                                <td>@item.ContactPersonName</td>
                                <td>@item.OfficeEmailID</td>
                                <td>@item.OfficeMobile</td>
                                <td>@item.Department</td>
                                <td>@item.Designation</td>
                                <td>@item.IsActive</td>
                                <td>
                                    <a class='btn editPartyContact' onclick="fnPartyContactDetail(@item.PartyContactID)"
                                       href="javascript:void(0)"
                                       data-bs-toggle="offcanvas"
                                       data-bs-target="#canvasPartyContactDetail"
                                       aria-controls="canvasPartyContactDetail"
                                       data-id="@item.PartyContactID"
                                       Partyid="@item.PartyID"><i class='bx bx-edit'></i></a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-end" tabindex="-1" id="canvasPartyContactDetail" style="visibility: visible; width : 80% !important">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="canvasHeaderNameBank"></h5>
        <button type="button" class="btn-close te  xt-reset" data-bs-dismiss="offcanvas" aria-l abel="Close"></button>
    </div>
    <div class="offcanvas-body pt-3 pb-5">
        <div id="dvInfoPartyContact">
        </div>
    </div>
</div>

<script src="~/admin/assets/vendors/simple-datatables/simple-datatables.js"></script>
<script type="text/javascript">
    var urlAddUpdatePartyContactPerson = '@Url.Action("AddUpdatePartyContactPerson", "Party")';
    function fnPartyContactDetail(PartyContactID) {
        var _id = PartyContactID;//$(this).data('id');
        var _PartyId = $("#PartyID").val();
        if (_id > 0) {
            document.getElementById("canvasHeaderNameBank").innerHTML = "Update Party Contact Person";
        }
        else {
            document.getElementById("canvasHeaderNameBank").innerHTML = "Add Party Contact Person";
        }
        var _parameters = { PartyContactID: _id, PartyId: _PartyId };
        $.ajax({
            url: urlAddUpdatePartyContactPerson,
            type: "GET",
            data: _parameters,
            success: function (data, textStatus, jqXHR) {
                $("#canvasPartyContactDetail").show();//('hide');
                $('#dvInfoPartyContact').html(data);
            }
        });
    }
</script>
