@using System.Security.Claims
@model Business.Entities.Employee.EmployeePromotionIncrement
@{
    var testr = Model;
    var newTestr = testr;
}

<div id="divIdFormEmployeePromotionIncrement">
    <div class="col-lg-6">
        <h6 class="cards-title">
            Employee family detail
        </h6>
    </div>
    <div>
        &nbsp;
    </div>
    <form id="formAddUpdateEmployeePromotionIncrement" class="row g-3 needs-validation">
        <input type="hidden" asp-for="EmployeeID" id="EmployeeID" />
        <input type="hidden" asp-for="EmployeePromotionIncrementID" id="EmployeePromotionIncrementID" />
        <input type="hidden" asp-for="EmployeeAdminID" />
        <input type="hidden" asp-for="DepartmentID" />
        <input type="hidden" asp-for="DesignationID" />
        <div></div>
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-6">
                <div class="row mb-3">
                    <label for="" class="col-sm-3 col-form-label ">Department:</label>
                    @* <label for="" class="col-sm-3 col-form-label ">Department:<span class="required">*</span></label> *@
                    <div class="col-sm-9">
                        <input type="text" asp-for="DepartmentName" id="DepartmentName" name="DepartmentName" class="form-control" readonly>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="" class="col-sm-3 col-form-label ">Designation:</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="DesignationText" id="DesignationText" name="DesignationText" class="form-control" readonly>
                    </div>
                </div>
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-6">
                <div class="row mb-3">
                    <label for="" class="col-sm-3 col-form-label ">Current CTC(Monthly):</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="CurrentCTC" name="CurrentCTC" asp-for="CurrentCTC" readonly>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class=" col-sm-12 col-md-6 col-lg-6">
                <div class="row mb-3">
                    <label for="" class="col-sm-3 col-form-label ">Promotion/Increment Date:</label>
                    <div class="col-sm-9">
                        <input type="date" class="form-control" asp-for="PromotionIncrementDate" id="PromotionIncrementDate" name="PromotionIncrementDate">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="" class="col-sm-3 col-form-label ">Department(Promoted):</label>
                    @* <label for="" class="col-sm-3 col-form-label ">Department:<span class="required">*</span></label> *@
                    <div class="col-sm-9">
                        <select asp-for="NewDepartmentID" id="NewDepartmentID" asp-items="@CustomerExtension.GetAllDepartments()" class="form-control">
                            <option value="">Select Department</option>
                        </select>
                        <span asp-validation-for="NewDepartmentID" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class=" col-sm-12 col-md-6 col-lg-6">
                <div class="row mb-3">
                    <label for="" class="col-sm-3 col-form-label ">Updated CTC(Monthly):</label>
                    <div class="col-sm-9">
                        <input type="text" required="" class="form-control" id="UpdatedCTC" name="UpdatedCTC" asp-for="UpdatedCTC">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="" class="col-sm-3 col-form-label ">Designation(Promoted):</label>
                    <div class="col-sm-9">
                        <select asp-for="NewDesignationID" id="NewDesignationID" asp-items="@CommonExtension.GetAllDesignationAsync()" class="form-control">
                            <option value="">Select Designation</option>
                        </select>
                        <span asp-validation-for="NewDesignationID" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="row mb-3">
                <label class="col-form-label col-sm-2" for="">Approved By Admin</label>
                <div class="col-sm-5">
                    <input asp-for="ApprovedByAdmin" class="form-control" id="ApprovedByAdmin" name="ApprovedByAdmin" placeholder="Admin Name">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-form-label col-sm-2" for="">Approved By HR</label>
                <div class="col-sm-5">
                    <input asp-for="ApprovedByHR" class="form-control" id="ApprovedByHR" name="ApprovedByHR" placeholder="HR Name">
                </div>
            </div>
        </div>

        <div class="text-center">
            <button type="button" onclick="fnSaveEmployeePromotionIncrement()" class="btn btn-primary btn-info px-5 ladda-button" id="btnSaveEmployeePromotionIncrement">Save</button>
        </div>
        <div>
            &nbsp;
        </div>

        @if (Model.employeePromotionIncrements.Count() > 0)
        {
            int i = 0;
            <div class="col-11"><h6>&nbsp;Previous promotion history</h6></div>
            <div class="table-responsive-md">
                <table class="table" id="tblPromotionIncrement" style="font-size:small;">
                    <thead style="position: sticky; top: 0; background-color:#6c97a1; color:white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: x-small;">
                        <tr>
                            <th>Sr No</th>
                            <th></th>
                            <th>Promotion Increment Date</th>
                            <th>Old Department</th>
                            <th>Old Designation</th>
                            <th>Old CTC</th>
                            <th>Old CTC (Yearly)</th>
                            <th>Approved By HR</th>
                            <th>Approved By Admin</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody class="border border-dark">
                        @foreach (var item in Model.employeePromotionIncrements)
                        {
                            string tblrow = "tableRow" + i;
                            <tr id="@tblrow">
                                <td>
                                    @item.SrNo
                                </td>
                                <td>
                                    <input type="hidden" class="form-control" id="EmployeeID" asp-for="@item.EmployeeID" name="EmployeeID" />
                                    <input type="hidden" class="form-control" id="EmployeePromotionIncrementID" asp-for="@item.EmployeePromotionIncrementID" name="EmployeePromotionIncrementID" />
                                </td>
                                <td>
                                    @item.PromotionIncrementDate.ToDate()
                                    @*  <input type="date" class="form-control" id="PromotionIncrementDate" asp-for="@item.PromotionIncrementDate" name="PromotionIncrementDate" readonly /> *@
                                </td>
                                <td>
                                    @item.DepartmentName
                                    <input type="hidden" class="form-control" id="DepartmentID" asp-for="@item.DepartmentID" name="DepartmentID" />
                                    @* <select asp-for="@item.DepartmentID" asp-items="@CustomerExtension.GetAllDepartments()" class="form-control">
                            </select> *@
                                </td>
                                <td>
                                    @item.DesignationText
                                    <input type="hidden" class="form-control" id="DesignationID" asp-for="@item.DesignationID" name="DesignationID" />
                                    @* <select asp-for="@item.DesignationID" asp-items="@CommonExtension.GetAllDesignationAsync()" class="form-control">
                            </select> *@
                                </td>
                                <td>
                                    @item.CurrentCTC
                                </td>
                                <td>
                                    @item.YearlyCTC
                                </td>
                                <td>
                                    @item.ApprovedByHR
                                </td>
                                <td>
                                    @item.ApprovedByAdmin
                                </td>
                                <td>
                                    <a class='btn IndexPagebtnEidtPadding' onclick="fnPassRowItemInSingleElements(@tblrow)"><i class='bx bx-edit'></i></a>
                                </td>
                            </tr>
                            i++;
                        }
                    </tbody>
                </table>
            </div>
        }
        else
        {
            <div class="col-11"><h6>&nbsp;Previous promotion history</h6></div>
            <div class="table-responsive-md">
                <table class="table" id="tblPromotionIncrement" style="font-size:small;">
                    <thead style="position: sticky; top: 0; background-color:#6c97a1; color:white; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: x-small;">
                        <tr>
                            <th>Sr No</th>
                            <th></th>
                            <th>Promotion Increment Date</th>
                            <th>Old Department</th>
                            <th>Old Designation</th>
                            <th>Old CTC</th>
                            <th>Old CTC (Yearly)</th>
                            <th>Approved By HR</th>
                            <th>Approved By Admin</th>
                            <th>Edit</th>
                        </tr>
                    </thead>
                    <tbody class="border border-dark">
                        @* @foreach (var item in Model.employeePromotionIncrements)
                        { *@
                            string tblrow = "tableRow" + i;
                            <tr>
                                <td>
                                    SrNo
                                </td>
                                <td>
                                    <input type="hidden" class="form-control" id="EmployeeID" name="EmployeeID" />
                                    <input type="hidden" class="form-control" id="EmployeePromotionIncrementID" name="EmployeePromotionIncrementID" />
                                </td>
                                <td>
                                    PromotionIncrementDate.ToDate()
                                    @*  <input type="date" class="form-control" id="PromotionIncrementDate" asp-for="@item.PromotionIncrementDate" name="PromotionIncrementDate" readonly /> *@
                                </td>
                                <td>
                                   DepartmentName
                                    <input type="hidden" class="form-control" id="DepartmentID" name="DepartmentID" />
                                    @* <select asp-for="@item.DepartmentID" asp-items="@CustomerExtension.GetAllDepartments()" class="form-control">
                            </select> *@
                                </td>
                                <td>
                                   DesignationText
                                    <input type="hidden" class="form-control" id="DesignationID" name="DesignationID" />
                                    @* <select asp-for="@item.DesignationID" asp-items="@CommonExtension.GetAllDesignationAsync()" class="form-control">
                            </select> *@
                                </td>
                                <td>
                                    CurrentCTC
                                </td>
                                <td>
                                    YearlyCTC
                                </td>
                                <td>
                                    ApprovedByHR
                                </td>
                                <td>
                                    ApprovedByAdmin
                                </td>
                                <td>
                                    <a class='btn IndexPagebtnEidtPadding'><i class='bx bx-edit'></i></a>
                                </td>
                            </tr>
                        @*     i++;
                        } *@
                    </tbody>
                </table>
            </div>
        }
    </form>
</div>

@await Html.PartialAsync("_ValidationScriptsPartial")
<script type="text/javascript">

    function fnSaveEmployeePromotionIncrement() {
        var urlPromotionIncrementAsync = '@Url.Action("AddUpdateEmployeePromotionIncrement","Employee")';
        // document.getElementById('DepartmentID').removeAttribute('disabled');
        // document.getElementById('DesignationID').removeAttribute('disabled');
        // document.getElementById('CurrentCTC').removeAttribute('disabled');
        var ls = laddaStart('btnSaveEmployeePromotionIncrement');
        modeldata = $("#formAddUpdateEmployeePromotionIncrement").serialize();
        $.ajax({
            type: 'post',
            url: urlPromotionIncrementAsync,
            data: modeldata,
            dataType: 'json',
            success: function (data) {
                if (data.status) {
                    //notification
                    //$("#canvasEmployeeHRAdministration").hide();//('hide');
                    var test = Lobibox.notify('success', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: data.message,
                    });
                    $("#promotionIncrementTable").load(window.location.href + " #promotionIncrementTable");

                    // setTimeout(
                    //     function () {
                    //         //window.location.reload();
                    //         $("#promotionIncrementTable").load(window.location.href + " #promotionIncrementTable");
                    //         //$("#administration-tab").load(window.location.href + " #administration-tab");
                    //         //$("#myTab").load(window.location.href + " #myTab");
                    //     }, 3000);
                }

                else {
                    Lobibox.notify('error', {
                        pauseDelayOnHover: true,
                        size: 'mini',
                        icon: 'bx bx-check-circle',
                        continueDelayOnInactiveTab: false,
                        position: 'bottom right',
                        msg: '@MessageHelper.Error'
                    });
                }
            },
            error: function (error) {
                laddaStop(ls);
                Lobibox.notify('error', {
                    pauseDelayOnHover: true,
                    size: 'mini',
                    icon: 'bx bx-check-circle',
                    continueDelayOnInactiveTab: false,
                    position: 'bottom right',
                    msg: '@MessageHelper.Error'
                });
            }
        }).always(function () {
            hideloader();
        });
        // };
    };

    function fnPassRowItemInSingleElements(obj) {

        var dateString = obj.cells[2].innerText;
        var dateParts = dateString.split('/');
        let day = dateParts[0];
        let month = dateParts[1];
        let year = dateParts[2];
        let formattedDate = year + '-' + month + '-' + day;
        document.getElementById('PromotionIncrementDate').value = formattedDate;

        document.getElementById('NewDepartmentID').value = obj.cells[3].children[0].value;
        document.getElementById('UpdatedCTC').value = obj.cells[5].innerText;
        document.getElementById('NewDesignationID').value = obj.cells[4].children[0].value;
        document.getElementById('ApprovedByAdmin').value = obj.cells[8].innerText;
        document.getElementById('ApprovedByHR').value = obj.cells[7].innerText;
        document.getElementById('EmployeeID').value = obj.cells[1].children[0].value;
        document.getElementById('EmployeePromotionIncrementID').value = obj.cells[1].children[1].value;

    }
</script>